[submodule "service/sunbird-utils"]
	path = service/sunbird-utils
	url = https://github.com/project-sunbird/sunbird-utils
	branch = master	
[submodule "actors/sunbird-lms-mw"]
	path = actors/sunbird-lms-mw
	url = https://github.com/project-sunbird/sunbird-lms-mw.git
	branch = master

